# Deletes binary files and caches
*.nc binary
*.csv linguist-vendored
*.bin binary

# deletes vendor code
deployment/ linguist-generated
ecommerce_env/ linguist-generated


# specifies that the notebooks are on Python
*.ipynb linguist-language=Jupyter Notebook
